.uni-container {
  --uni-pad: 24px;
  margin: 0 auto;
  padding: 0 var(--uni-pad);
  max-width: calc(1152px + var(--uni-pad) * 2);
}

@media (min-width: 640px) {
  .uni-container {
    --uni-pad: 48px;
  }
}

@media (min-width: 960px) {
  .uni-container {
    --uni-pad: 64px;
  }
}
